version: "3.9"

services:
  tool:
    privileged: true
    build: .
    network_mode: host
    env_file: .env
    volumes:
      - "./regions.yml:/var/app/regions.yml"
      - /run/bird/bird.ctl:/run/bird/bird.ctl
