---
name: CI
on: [push]

jobs:
  go-test:
    name: Go Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-cache-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Run tests
        run: cd backend && mkdir frontend_blobs && touch frontend_blobs/do_not_remove && go test -race -v ./...
        env:
          VERBOSE: "true"

  node-test:
    name: Node Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install nvm
        run: curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh | bash
      - name: Run tests
        run: bash -c '[[ -s $HOME/.nvm/nvm.sh ]] && . $HOME/.nvm/nvm.sh && cd frontend && nvm install && nvm use && npm ci && npm test'
        env:
          VERBOSE: "true"

  build-bins:
    name: Build Binaries
    runs-on: ubuntu-latest
    needs: [go-test, node-test]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-cache-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Install nvm
        run: curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh | bash
      - name: Build standalone binaries
        run: ./build_standalone_binaries.sh
      - uses: actions/upload-artifact@v2
        with:
          name: binaries
          path: |
            binaries/*

  release:
    name: release
    runs-on: ubuntu-latest
    needs: [go-test, node-test]
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - name: Install nvm
        run: curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh | bash
      - name: Build binaries
        run: ./build_standalone_binaries.sh
      - name: Build the Docker image
        run: docker build -t ghcr.io/krystal/krystal-network-tools .
      - name: Push the Docker image
        run: docker push ghcr.io/krystal/krystal-network-tools
      - name: Create a release
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          files: binaries/*
